@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  --font: "Inter", sans-serif;
  --dark: #171716;
  --grey: rgba(0, 0, 0, 0.6);
  --black: #171716;
  --blue: #ff0000;
  --light: #fafafa;
  --light-border: #cfdbe3;
  --bg: #f2f5f8;
  --font-sm: 20px;
  --font-md: 28px;
  --font-xl: 44px;
  --font-xxl: 96px;
  color: var(--dark);
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-header__line {
  height: 1px;
  width: 45px;
  background-color: var(--blue);
}
.section-header__name {
  font-size: 21px;
  color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.section-btn {
  font-weight: 500;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border: 1px solid var(--blue);
  color: var(--blue);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px 50px;
  cursor: pointer;
  transition: background 0.2s linear, border 0.2s linear, color 0.2s linear;
  position: relative;
}
.section-btn:hover {
  color: var(--light);
  border: 1px solid var(--blue);
}
.section-btn::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blue);
  z-index: -2;
  transition: top 0.4s ease;
}
.section-btn:hover::before {
  top: 0%;
}
.section-btn:hover .arrow path {
  fill: var(--light);
}
.section-btn .arrow {
  width: 20px;
  height: 20px;
}
.section-btn .arrow path {
  transition: fill 0.2s linear;
  fill: var(--blue);
}

.slick-dots {
  display: none !important;
}

.line {
  overflow: hidden;
}

.status {
  padding: 50px;
  position: fixed;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 10px 45px -18px rgba(0, 0, 0, 0.3);
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: opacity 0.8s linear;
  opacity: 0;
  pointer-events: none;
}
.status h2 {
  width: 250px;
  line-height: 150%;
  font-size: var(--font-sm);
  font-weight: 500;
}

.section-title {
  margin-top: 25px;
  font-weight: 500;
  font-family: var(--font-bold);
  font-size: 64px;
  color: var(--black);
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1000px;
  }
}
@media screen and (max-width: 900px) {
  .section-title {
    font-size: 41px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .status {
    padding: 25px;
    right: 15px;
    bottom: 15px;
  }
  .status h2 {
    font-size: 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer {
  margin-top: 25px;
  background-color: #000;
  padding: 50px 0;
  color: var(--light);
  font-size: var(--font-sm);
}
.footer__inner {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 60px;
}
.footer .logo {
  width: 150px;
}
.footer a {
  color: inherit;
  list-style: none;
  text-decoration: none;
  transition: opacity 0.2s linear;
}
.footer a:hover {
  opacity: 0.6;
}
.footer ul li {
  margin-bottom: 15px;
}
.footer__title {
  font-size: var(--font-md);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 25px;
}
.footer__title:nth-child(3) {
  margin-top: 25px;
}
.footer .social-wrapper {
  display: flex;
  gap: 15px;
}
.footer .bottom {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.6);
}
.footer .bottom .dev-link {
  color: var(--light);
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .footer .bottom {
    flex-direction: column;
    font-size: 16px;
    text-align: center;
  }
}
.unia-logo {
  position: fixed;
  top: 25px;
  height: 72px;
  right: 50px;
  z-index: 10;
}

.header-phone {
  position: fixed;
  left: calc(50% - 45px);
  z-index: 10;
  display: none;
  margin-top: 40px;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  font-weight: 700;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.header-phone svg {
  width: 35px;
  height: 35px;
}

.white-navbar {
  background-color: white;
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 110px;
}
.white-navbar ul {
  padding-top: 5px;
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 14px;
  justify-content: center;
}

.header .logo {
  position: fixed;
  top: 25px;
  left: 50px;
  z-index: 10;
}

video {
  width: 50%;
}

.images {
  padding-top: 150px;
  padding-bottom: 100px;
}
.images .image {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .main .main-title {
    font-size: 50px;
  }
  .main__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .header-phone {
    display: flex;
  }
  .header .logo {
    left: 5%;
    top: 25px;
  }
  .unia-logo {
    top: 25px;
    right: 5%;
  }
  .main__inner .contact-info {
    display: none;
  }
  .main__inner .main-info-title {
    font-size: 24px;
    text-align: center;
  }
  .main__inner .left .main-contact input {
    font-size: 24px;
  }
  .main-contact {
    justify-content: center;
  }
  .phone {
    color: var(--light);
  }
  .contact-info {
    justify-content: center;
    text-align: center;
  }
  .contact-info a {
    justify-content: center;
  }
}
@media screen and (max-height: 900px) {
  .main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 760px) {
  .main__inner .contact-info a {
    font-size: 30px;
  }
  .main__inner .left .main-contact input {
    max-width: 300px;
  }
  .main .main-title {
    font-size: 35px;
  }
  .main__inner {
    margin-top: 25px;
  }
  .logo img {
    width: 150px;
    height: 72px;
  }
  .unia-logo {
    height: 72px;
    top: 25px;
  }
}
@media screen and (max-width: 500px) {
  video {
    width: 100%;
  }
  .header .logo img {
    width: 115px;
  }
  .main__inner .left .main-contact input {
    font-size: 25px;
    max-width: 250px;
  }
  .main__inner .left .main-contact button {
    font-size: 24px;
  }
}
@media screen and (max-width: 400px) {
  .main__inner .left .main-contact input {
    font-size: 25px;
    max-width: 150px;
  }
  .main .main-title {
    font-size: 30px;
  }
  .main__inner .contact-info a {
    font-size: 25px;
  }
}
@media screen and (max-width: 350px) {
  .main__inner .left .main-contact input {
    font-size: 25px;
    max-width: 150px;
  }
  .header .logo img {
    width: 90px;
  }
  .unia-logo {
    height: 50px;
    top: 40px;
  }
}/*# sourceMappingURL=about.css.map */